<div class='search_box'>


<span>
        <%= form_tag skills_path, method:'get' do %>
        <h3><%= label_tag (:category), "Enter Skill Category:"%></h3>
        <%= text_field_tag :category, params[:category], placeholder:"Enter Category"%>
        <%= submit_tag "Search", name: nil, class:'home_link' %>
    
<% end %>
 </span>
 <span>  
        <%= form_tag skills_path, method:'get' do %>
        <h3><%= label_tag (:name), "Enter Name of Skill:"%></h3>
        <%= text_field_tag :name, params[:name], placeholder:"Enter Name"%>
        <%= submit_tag("Search", name: nil, class:'home_link') %>
    <% end %>
</span>
</div>


<div class="info_box">
<% if @skills.empty? %>
<h2 style="margin: auto; text-align: center;">No skills of that name/category</h2>
<% else %>
<table class="warband_table">
<tr>
<th>Skill Name</th>
<th>Skill Category</th>
<th>Skill Description</th>
</tr>
<% @skills.each do |s| %>
<tr>
<td><%= s.name %> </td>
<td><%= s.skill_category %> </td>
<td><%= s.description %> </td>
</tr>
<% end %>

</table>
<% end %>
<%= link_to 'Back', 'javascript:history.back()', class:"home_link" %>
</div>