
<div class="create_box">


<% if @warrior.name !=nil %>
<h2> <%= @warrior.name.empty? ? "Unamed Warrior" : @warrior.name %> <br> of <%= @warrior.warband.name %></h2>
<% end %>

<%= form_for @warrior do |f| %>


<table> 
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name  %></td>
    </tr>
    <tr>
      <td><%= f.label :warrior_type %></td>
      <td><%= f.text_field :warrior_type %></td>
    </tr>
    <tr>
      <td><%= f.label :exp %></td>
      <td><%= f.number_field :exp %></td>
    </tr>
    <tr>
      <td><%= f.label :move %></td>
      <td><%= f.number_field :move %></td>
    </tr>
    <tr>
      <td><%= f.label :strength %>
      <td><%= f.number_field :strength %>
    </tr>
    <tr>
      <td><%= f.label :toughness %>
      <td><%= f.number_field :toughness %>
    </tr>
    <tr>
      <td><%= f.label :agility %></td>
      <td><%= f.number_field :agility %></td>
    </tr>
    <tr>
      <td><%= f.label :wounds %></td>
      <td><%= f.number_field :wounds %></td>
    </tr>
    <tr>
      <td><%= f.label :bravery %></td>
      <td><%= f.number_field :bravery %></td>
    </tr>
    <tr>
      <td><%= f.label :close_combat_attacks_bonus %></td>
      <td><%= f.number_field :close_combat_attacks_bonus %></td>
    </tr>
    <tr>
      <td><%= f.label :close_combat_damage_bonus %></td>
      <td><%= f.number_field :close_combat_damage_bonus %></td>
    </tr>
    <tr>
      <td><%= f.label :ranged_attacks_bonus %></td>
      <td><%= f.number_field :ranged_attacks_bonus %></td>
    </tr>
    <tr>
      <td><%= f.label :ranged_damage_bonus %></td>
      <td><%= f.number_field :ranged_damage_bonus %></td>
    </tr>
    
    
    <tr>
      <td><%= f.label "Needs to Miss Game" %></td>
      <td><%= f.check_box :active %></td>
    </tr>

    <tr>
      <td><%= f.label :is_hero %></td>
      <td><%= f.check_box :is_hero %></td>
    </tr>
  
</table>


<br>

  <% unless @warrior.skill.include? (Skill.find_by_name('No Need for Weapons')) %>
<h3>Weapons</h3>
  <table>
    <tr>
      <th>Weapon Name</th>
      <th>Add Weapon</th>
      <th>Sell Weapon</th>
      <th>Delete Weapon</th>
    </tr>
    <br>

    <%= f.fields_for :equipment do |e| %>
      <tr>
        <td><%= e.object.name %> </td>
        <td><%= e.collection_select :id, (@warrior.equipment_list.split(', ').map {|name| Equipment.name_search(name)}.flatten), :id, :name, {include_blank: 'Select a Weapon'} %></td>
        <td><%= link_to "Sell Weapon", equipment_sell_path(warrior_id: @warrior, equipment_id: e.object.id) %> </td>
        <td><%= link_to "Delete Weapon", equipment_delete_path(warrior_id: @warrior, equipment_id: e.object.id) %> </td>
      </tr>
    <%end%>
  </table>
  <br>
  <% end %>

<h3>Armour</h3>
<table>
  <tr>
    <th>Armour Name</th>
    <th>Add Armour</th>
    <th>Sell Armour</th>
    <th>Delete Armour</th>
  </tr>
  <br>
  
  <%= f.fields_for :armour do |a| %>
    <tr>
      <td><%= a.object.name %> </td>
      <td><%= a.collection_select :id, Armour.all, :id, :name, {include_blank: 'Select Armour'} %></td>
      <td><%= link_to "Sell Armour", equipment_sell_armour_path(warrior_id: @warrior, armour_id: a.object.id) %> </td>
      <td><%= link_to "Delete Armour", equipment_delete_armour_path(warrior_id: @warrior, armour_id: a.object.id) %> </td>
    </tr>
  <%end%>
</table>

<% if @warrior.skills_list %>
<h3>Skills</h3>
<br>
<table>
  <tr>
    <th>Skill Name</th>
    <th>Add Skill</th>
    <th>Delete Skill</th>
  </tr>
  <br>
    <%= f.fields_for :skill do |s| %>
    <tr>
      <td><%= s.object.name %> </td>
      <td><%= s.collection_select :id, (@warrior.skills_list.split(', ').map {|cat| Skill.category_search(cat)}.flatten), :id, :name, {include_blank: 'Select a Skill'} %></td>
      <td><%= link_to "Delete Skill", skill_destroy_path(warrior_id: @warrior, skill_id: s.object.id) %> </td>
    </tr>
    <% end %>
</table>
 <% end %>

<% if @warrior.warrior_type == "Mutant" || @warrior.warrior_type == "Possessed"  %>
<h3>Mutations</h3>
<br>
<table>
  <tr>
    <th>Mutation Name</th>
    <th>Add Mutation</th>
  </tr>
  <br>
    <%= f.fields_for :mutations do |m| %>
    <tr>
      <td><%= m.object.name %> </td>
      <td><%= m.collection_select :id, Mutation.all, :id, :name, {include_blank: 'Select a Mutation'} %></td>

    </tr>
    <% end %>
</table>
<% end %>

<h3>Injuries</h3>
<br>
<table>
  <tr>
    <th>Injury Name</th>
    <th>Add Injury</th>
    <th>Delete Injury</th>
  </tr>
  <br>
    <%= f.fields_for :injury do |s| %>
    <tr>
      <td><%= s.object.name %> </td>
      <td><%= s.collection_select :id, Injury.all, :id, :name, {include_blank: 'Select an Injury'} %></td>
      <td><%= link_to "Delete Injury", injury_destroy_path(warrior_id: @warrior, injury_id: s.object.id) %> </td>
    </tr>
    <% end %>
</table>

<% if @warrior.skill.include?(Skill.find_by_name("Spellcaster")) || @warrior.skill.include?(Skill.find_by_name("Prayers")) %>
<h3><%= @warrior.skill.include?(Skill.find_by_name("Prayers")) ? "Prayers" : "Spells" %></h3>
<br>
<table>
  <tr>
    <th><%= @warrior.skill.include?(Skill.find_by_name("Prayers")) ? "Prayer Name" : "Spell Name" %></th>
    <th><%= @warrior.skill.include?(Skill.find_by_name("Prayers")) ? "Add Prayer" : "Add Spell" %></th>
    <th><%= @warrior.skill.include?(Skill.find_by_name("Prayers")) ? "Delete Prayer" : "Delete Spell" %></th>
  </tr>
  <br>
    <%= f.fields_for :spell do |s| %>
    <tr>
      <td><%= s.object.spell_name %> </td>
      <td><%= s.collection_select :id, (Spell.all.select {|spell| spell.spell_warband.include?(@warrior.warband_type)}.flatten), :id, :spell_name, {include_blank: 'Select a Spell / Prayer'} %></td>
      <td><%= link_to "Delete Spell", spell_destroy_path(warrior_id: @warrior, spell_id: s.object.id) %> </td>
    </tr>
    <% end %>
</table>
<% end %>



    <%= f.hidden_field :cost %><br>

  <%= f.submit class:"home_link", :data => { disable_with: false }%>

 
<% end %>

</div>