
<%= form_for @warband do |f| %>
<% selection = warrior_categories %>

  Warband Name:
  <%= f.text_field :name %><br>

<h2>Heroes</h2>
<table class="warband_table">
<tr>
  <th>Type</th>
  <th>Starting Exp</th>
  <th>Move</th>
  <th>Strength</th>
  <th>Toughness</th>
  <th>Agility</th>
  <th>Wounds</th>
  <th>Bravery</th>
  <th>Skills</th>
  <th>Max Number in Warband</th>
  <th>Cost</th>
  <th>Add Warrior to Warband</th>
</tr>


<% selection.each do |w| %>
<% x = which_stats(w) %> 
<% x.save %>
<% if x.is_hero %>
  <tr>
    <td><%= x.warrior_type %> </td>
    <td><%= x.exp %> </td>
    <td><%= x.move %> </td>
    <td><%= x.strength %> </td>
    <td><%= x.toughness %> </td>
    <td><%= x.agility %> </td>
    <td><%= x.wounds %> </td>
    <td><%= x.bravery %> </td>
    <td><%= x.skills %> </td>
    <td><%= x.number %> </td>
    <td><%= x.cost %> </td>

    <td><%= link_to "Add to Warband", warbands_add_to_warband_path(warrior:{
            warband_id: @warband,
            warrior_type: x.warrior_type,
            exp: x.exp,
            move: x.move,
            strength: x.strength,
            toughness: x.toughness,
            agility: x.agility,
            wounds: x.wounds,
            bravery: x.bravery,
            skills: x.skills,
            number: x.number,
            warband_type: @warband.warband_type,
            is_hero: x.is_hero,
            cost: x.cost,
    }), :method => :post %> </td>
  </tr>
<% end %>
<% end %>
</table>

<h2>Henchmen</h2>
<table class="warband_table">
  <tr>
    <th>Type</th>
    <th>Starting Exp</th>
    <th>Move</th>
    <th>Strength</th>
    <th>Toughness</th>
    <th>Agility</th>
    <th>Wounds</th>
    <th>Bravery</th>
    <th>Skills</th>
    <th>Max Number in Warband</th>
    <th>Cost</th>
    <th>Add Warrior to Warband</th>
  </tr>
<% selection.each do |w| %>
<% x = which_stats(w) %> 
<% if !x.is_hero %> 
  <tr>
    <td><%= x.warrior_type %> </td>
    <td><%= x.exp %> </td>
    <td><%= x.move %> </td>
    <td><%= x.strength %> </td>
    <td><%= x.toughness %> </td>
    <td><%= x.agility %> </td>
    <td><%= x.wounds %> </td>
    <td><%= x.bravery %> </td>
    <td><%= x.skills %> </td>
    <td><%= x.number %> </td>
    <td><%= x.cost %> </td>
    <td><%= link_to "Add to Warband", warbands_add_to_warband_path(warrior:{
            warband_id: @warband,
            warrior_type: x.warrior_type,
            exp: x.exp,
            move: x.move,
            strength: x.strength,
            toughness: x.toughness,
            agility: x.agility,
            wounds: x.wounds,
            bravery: x.bravery,
            skills: x.skills,
            number: x.number,
            warband_type: @warband.warband_type,
            is_hero: x.is_hero,
            cost: x.cost,
            }), :method => :post %> </td>
  </tr>
  <% end %>
<% end %>
</table>

  <%= f.submit %>
<% end %>
