<h1>Warrior Stats for <%= @warrior.name %></h1>
    Name: <%= @warrior.name %> <br>
    Type: <%= @warrior.warrior_type %> <br>
    Warband: <%= link_to @warrior.warband.name, warband_path(@warrior.warband_id)%><br>
    Warband Type: <%= @warrior.warband_type %> <br>
    Exp: <%= @warrior.exp %> <br>
    <table>
        <tr>
            <th>Move</th>
            <th>Strength</th>
            <th>Toughness</th>
            <th>Agility</th>
            <th>Wounds</th>
            <th>Bravery</th>
        </tr>

        <tr>
            <td><%= @warrior.move %> </td>
            <td><%= @warrior.strength %> </td>
            <td><%= @warrior.toughness %> </td>
            <td><%= @warrior.agility %> </td>
            <td><%= @warrior.wounds %> </td>
            <td><%= @warrior.bravery %> </td>
        </tr>
    </table><br>
    Skills: <%= @warrior.skills %> <br>
    Injuries: <%= @warrior.injuries %> <br>
    Currently Wounded: <%= @warrior.active ? "No": "Yes" %> <br>
    Hero: <%= @warrior.is_hero ? "Yes" : "No" %> <br>
    Total Cost: <%= warrior_cost(@warrior) %> <br>


<h3>Weapons</h3>
    <table>
    <tr>
            <th>Name</th>
            <th>Range(inches)</th>
            <th>Attacks</th>
            <th>Strength</th>
            <th>Damage / Crit</th>
            <th>Abilities</th>
            <th>Cost</th>
        </tr>

        <% @warrior.equipment.each do |e|%>
        <tr>
            <td><%= e.name %> </td>
            <td><%= e.range %> </td>
            <td><%= e.attacks %> </td>
            <td><%= e.strength %> </td>
            <td><%= e.damage %> </td>
            <td><%= e.abilities %> </td>
            <td><%= e.cost %> </td>
        </tr>
        <%end %>
    
    </table><br>

<h3>Armour</h3>

    <table>
        <tr>
            <th>Name</th>
            <th>Soak</th>
            <th>Agility Penalty</th>
            <th>Ability</th>
            <th>Cost</th>
        </tr>
        <% @warrior.armour.each do |a| %>
            <tr>
                <td><%= a.name %></td>
                <td><%= a.soak %></td>
                <td><%= a.agility_penalty %></td>
                <td><%= a.abilities %></td>
                <td><%= a.cost %></td>
            </tr>
        <% end %>
    </table>
