<div class="create_box">
<%= form_for @warband do |f| %>
<table class="form_box">
  <tr>
    <td><%= f.label :name %>:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <% unless @warband.id %>
    <td><%= f.label :warband_type %>:</td>
    <td><%= f.select :warband_type, ["Ratmen", "Witch Hunters", "Mercenaries", "Chaos Cultists", "The Sisterhood"] %><br></td>
    <% end %>
  <tr>
    <td><%= f.label :gold_crowns %>:</td>
    <td><%= f.number_field :gold_crowns, value: @warband.gold_crowns %><br></td>
  </tr>
  <tr>
    <td><%= f.label :wyrdstone_shards %>:</td>
    <td><%= f.number_field :wyrdstone_shards, value: @warband.wyrdstone_shards ? @warband.wyrdstone_shards : 0  %><br></td>
  </tr>
  <%= f.hidden_field :warband_rating %>

  
  
  </table>
    <%= f.submit class: "home_link"%>
 
<% end %>
  </div>

