<style> 
    body {
    column-count: 3;
    column-fill: balanced;
    }
    div{
        break-inside: avoid-column;
    } 
</style>

<%  if @warbands == [] %>
<div class="warband_box">
<h1>No Current Warbands on record</h1>
</div>
<% else %>

<div class='search_box'>
<span>
<%= link_to "Top Ten Warband-Ratings", warbands_top_ten_path %>
</span>

<span>
        <%= form_tag warbands_path, method:'get' do %>
        <h3><%= label_tag (:warband), "Enter Type of Warband:"%></h3>
        <%= text_field_tag :warband, params[:warband], placeholder:"Enter type"%>
        <%= submit_tag "Search", name: nil, class:'home_link' %>
    
<% end %>
 </span>
 <span>  
        <%= form_tag warbands_path, method:'get' do %>
        <h3><%= label_tag (:rating), "Enter Rating of warband:"%></h3>
        <%= text_field_tag :rating, params[:rating], placeholder:"Enter Rating"%>
        <%= submit_tag("Search", name: nil, class:'home_link') %>
    <% end %>
</span>
</div>

<% @warbands.each do |w| %>
<div class="warband_box">
<h4> Warband Name: <%= w.name %></h4>
Type: <%= w.warband_type %><br>
<% rating_calc(w) %> 
Warband Rating: <%= rating_calc(w) %><br>
Gold: <%= w.gold_crowns %><br>
Wrydstone: <%= shards(w) %><br>
<%= link_to "Show Warband", warband_path(w) %>
</div>
<br>
<% end %>

<% end %>
