<!DOCTYPE html>
<html>
    <style>
        .flash__alert   { color: red; }
        .flash__notice  { color: blue; }
        .flash__success { color: green; }

    nav {
      list-style-type: none;
      margin-bottom: 10;
      padding: 0;
      overflow: hidden;
      background-color: #300;
      position: fixed;
      top: 0;
      width: 100%;
    }

    nav li {
      float: left;
      display: block;
      
      text-align: center;
      padding: 8px 14px;
      text-decoration: none;
    }
    
        a:link {
      color: green;
    }
    a:visited {
      color: green;
    }
    a:hover {
      color: red;
    }

    a:active {
      color: yellow;
    } 
    .active {
      background-color: #340;

    }

    body {
      margin-top: 60px;
  
    }
    </style>
  <nav> 
    <ul>
      <li class= "nav-link active"><%= link_to "Home", '/'%></li>
      <li class= "nav-link"><%= link_to "Mordcry Rules", '/rules'%></li>
      
      <% if !logged_in? %>
      <li class= "nav-link"><%= link_to "Log In", '/users/sign_in', class: "nav-link" %></li>
      <li class= "nav-link"><%= link_to "Sign up", '/users/sign_up' %></li>
     <% else %>

      <li class= "nav-link"><%= link_to "View Warbands", '/warbands'%></li>
      <li class= "nav-link"><%= link_to "Make New Warband", '/warbands/new'%></li>
      <li class= "nav-link"><%= link_to "Sign Out", '/users/sign_out', class: "nav-link" %></li>
      <% end %>
    </ul>
  </nav>
  
  <head>
    <title>Mordcry</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
   

  <body>
   <% if flash.any? %>
      <% flash.each do |key, value| -%>
        <section class="flash flash__<%= key %>"><%= value.html_safe %></section>
      <% end -%>
    <% end %>
 
    <%= yield %>
  </body>
</html>
